target/

.vscode/
.idea/
*.iml
*.ipr
*.iws

*.log

.DS_Store
Thumbs.db

.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

*.class

*.jar
*.war
*.ear

*.project
*.classpath
*.settings/

test-output/
*.tmp

.env
config/*.properties

.mvn/
settings.xml
